h1 {
    font-size: 2.5rem;
    font-family: sans-serif;
    padding: 2px;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 2px;
    margin: auto;
    font-weight: bold;
    color: #008;
    background-color: #fff;
}

p {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 2px;
    margin: 20px;
    color: #000;
    background-color: #fff;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}
